@model IEnumerable<EmployeesList.Models.Children>

@{
    ViewData["Title"] = "Child List";
    var emloyeeId = ViewData["id"];
}

<h1>Child List</h1>

<p>
    <a asp-action="CreateChild" asp-route-id="@emloyeeId">Create New Child </a>
</p>



@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ф.И.О.
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DateОfBirth)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>



            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DateОfBirth)
                    </td>

                    <td>
                        <a asp-action="EditChild" asp-route-id="@item.Id">Edit</a> |

                        <a asp-action="DeleteChild" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            <a asp-action="Details" asp-route-id="@emloyeeId">Back To Parents</a>

        </tbody>
    </table>
    <p>
        <a asp-action="CreateChild" asp-route-id="@emloyeeId">Create New Child </a>
    </p>
}
else
{
    <h3>Нет данных для отображения</h3>
}