@model IEnumerable<EmployeesList.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Employees" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Find" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Ф.И.О.
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.DateОfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Fullname)</a>
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.DateОfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
